body {
    background-image: url("../images/donate1.jpg");
    margin: 0;
    padding: 0;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.head {
    text-align: center;
    color: #28a745;
    margin-top: 50px;
}

.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px;
}

.donate-container {
    padding: 20px;
    width: 45%;
    margin-bottom: 20px;
    color: rgb(32, 34, 33);
    font-weight: bolder;
}

.form-title {
    text-align: center;
    color: black;
}

.form-control {
    margin-bottom: 15px;
}

.btn-donate {
    color: #f8f9fa;
    background-color: aquamarine;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.btn-donate:hover {
    background-color: #218838;
    color: #fff;
}

.submitbtn:hover {
    color: #fff;
    text-decoration: none;

}

.submitbtn {
    color: aliceblue;
    text-decoration: none;
}

@media (max-width: 768px) {
    .donate-container {
        width: 100%;
    }
}

.text-center {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 70;
    margin-bottom: 20px;

}

.logo {
    margin-left: 0%;
}
.footer {
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 10px;
}
.head1{
    font-size: 15px;
}
.para{
    font-size: 10px;
}