body {
    background-color: #f8f9fa;
    padding-top: 50px; /* Adjusted padding to accommodate the fixed navbar */
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar-brand {
    color: #fff;
}
.btn-pay {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.footer {
    background-color: #343a40;
    color: #fff;
    padding: 20px;
    text-align: center;
    bottom: 0;
    width: 100%;
}